<div class="lightbox" ng-if="active.obj.image.length > 0">
	<div class="wrap" id="imgWrap">
		<div class="display" id="imgDisplay" data-stt="tester" ng-style="active.size">
			<img id="img" ng-src="{{active.obj.image}}" ng-if="!active.obj.video" ng-style="active.size" />
			<div class="outer" ng-if="active.obj.video" ng-style="active.size"><div class="inner"><iframe ng-src="{{active.obj.videourl}}"></iframe></div></div>
			<button no-skyform ng-click="close()">Close</button>
			<div class="controls">
				<button ng-click="prev()" no-skyform ng-show="galleries[active.gallery].length > 1">Prev</button>
				<span ng-show="galleries[active.gallery].length > 1">{{active.index+1}} / {{galleries[active.gallery].length}}</span>
				<button ng-click="next()" no-skyform ng-show="galleries[active.gallery].length > 1">Next</button>
			</div>
		</div>
	</div>
</div><div ng-transclude></div>
