<div
	v-bind:class="['sky-lightbox', { open: open }]">

	<button
		class="next"
		v-on:click="next">Næste</button>

	<button
		class="previous"
		v-on:click="previous">Forrige</button>

	<button
		class="close"
		v-on:click="close">Luk</button>

	<div class="container">

		<!-- TODO: Find better way to determine type maybe -->
		<ul
			class="media"
			v-if="type === 'images' || !type">

			<li
				v-for="(item, index) in items"
				v-bind:class="{ active: index === activeIndex }">

				<sky-crop v-bind:src="item.src"></sky-crop>
			</li>
		</ul>

		<ul
			class="media"
			v-if="type === 'videos'">

			<li
				v-for="(item, index) in items"
				v-bind:class="{ active: index === activeIndex }">

				<sky-video
					v-bind:poster="item.poster"
					v-bind:src="item.src">
				</sky-video>

			</li>
		</ul>
	</div>

	<ul class="navigation">
		<li
			v-for="(item, index) in items"
			v-on:click="setActive(index)"
			v-bind:class="{ active: index === activeIndex }">
		</li>
	</ul>
</div>
